 .banner {
     height: 100vh;
     position: relative;
 }
 
 img {
     height: 100vh;
 }
 
 .slider {
     width: 93%;
     float: left;
 }
 
 .carousel-caption {
     max-height: 350px !important;
     max-width: 500px !important;
     text-align: right !important;
     right: 60px !important;
     left: auto !important;
     top: 110px !important;
     text-transform: uppercase;
 }
 
 .carousel-caption h1 {
     font-size: 70px;
 }
 
 .carousel-caption p {
     margin-top: 40px;
     text-transform: none;
 }
 
 .side-menu {
     max-width: 7%;
     height: 100vh;
     background-color: #ff0000;
     position: relative;
     float: right;
 }
 
 .menu-icon {
     color: white;
     cursor: pointer;
     margin: 30px;
     font-size: 50px;
 }
 
 .search-icon {
     color: white;
     cursor: pointer;
     margin: 30px;
     font-size: 40px;
 }
 
 .side-menu::after {
     content: '';
     height: 130px;
     width: 1px;
     background: #fff;
     position: absolute;
     left: 45px;
     top: 200px;
 }
 
 .carousel-indicators {
     left: 85% !important;
     color: #fff !important;
     display: block !important;
     top: 55% !important;
     height: 40% !important;
     width: 95px !important;
 }
 
 .carousel-indicators li {
     border-radius: 50% !important;
     border: 2px solid #fff !important;
     background: transparent !important;
     width: 10px !important;
     height: 10px !important;
     margin-top: 15px !important;
     margin-left: 40px !important;
 }
 
 .top-bar {
     position: absolute;
     margin: 20px 50px;
     z-index: 2;
 }
 
 .top-bar ul {
     display: inline-flex;
 }
 
 .top-bar ul li {
     list-style: none;
     margin: 15px 20px;
 }
 
 .top-bar ul li a {
     color: #fff;
     padding-top: 5px;
     display: block;
     text-decoration: none;
 }
 /* Login  */
 
 .login {
     background: url(images/download.jpg);
     background-position: center;
     background-size: cover;
     height: 100vh;
 }
 
 .card {
     height: 370px;
     margin-top: 125px;
     margin-bottom: 125px;
     width: 400px;
     background-color: rgba(0, 0, 0, 0.5) !important;
     position: absolute !important;
 }
 
 .card-header h3 {
     color: white;
 }
 
 .input-group-prepend span {
     width: 50px;
     background-color: #FFC312;
     color: black;
     border: 0 !important;
 }
 
 input:focus {
     outline: 0 0 0 0 !important;
     box-shadow: 0 0 0 0 !important;
 }
 
 .remember {
     color: white;
 }
 
 .remember input {
     width: 20px;
     height: 20px;
     margin-left: 15px;
     margin-right: 5px;
 }
 
 .login_btn {
     color: black !important;
     background-color: #FFC312 !important;
     width: 100px !important;
 }
 
 .login_btn:hover {
     color: black !important;
     background-color: white !important;
 }
 /* About */
 
 .about {
     background: url(images/about.jpg);
     background-position: center;
     background-size: cover;
     height: 100vh;
 }
 
 .about-text {
     color: white;
     position: absolute;
     top: 230px;
     left: 20%;
     background-color: rgba(0, 0, 0, 0.5) !important;
     text-align: center;
     max-width: 770px;
     padding: 15px;
     max-height: 240px;
 }